<!DOCTYPE HTML>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Flash Chat confirm email</title>
    </head>
    <body>
        <div class="container">
            <center>
                <img src="../images/Flash%20Chat.png" alt="flash-chat-icon" style="width: 30%;" />
            </center>
            <br />
            <h1 class="font-weight-bolder text-center">Welcome to Flash Chat</h1>
            <p>
                Hello <%- {user.name} %>
                <!-- CODE HERE -->
            </p>
        </div>
    </body>
</html>
